.jogo{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jogo form input{
    padding: 15px;
    border-radius: 20px;
    border: none;
    margin: 10px;
}



.jogo .escolhas {
    width:  600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed black;
    border-radius: 12px;
}


.choice{
    max-width: 250px;
    max-height: 100px;
    padding: 20px;
}


.choice img{
    width: 125px;
    height: 90px;
}


.jogo div{
    margin: 32px 12px;
}

.botoes{
    width: 800px;
}

.win{
    color: green;
}

.defeat{
    color: red;
}

.draw{
    color: gray;
}

.placar{
    min-width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.placar .name-input{
    padding: 15px;
    border-radius: 20px;
    border: none;
    margin: 10px;
}

.btn{
    padding: 10px;
    border-radius: 20px;
}


@media (max-width: 800px){
  .botoes, .placar{
    width: 100%;
  }
  .jogo .escolhas{
    width: 100%;
  }


}